<% provide(:title, "Edit user") %>
<h1>Modifier votre profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank" >changer</a>
    </div>

    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Enregistrer les modifications", class: "btn btn-primary" %>

        <% if !current_user.admin? %>
          <%= link_to "Supprimer le compte", current_user, method: :delete,
                                  data: { confirm: "Are you sure?" }, class: 'delbar' %>
        <% end %>
    <% end %>

   
  </div>
</div>